<!DOCTYPE html>
<html>
<head>
    <title>AI Internship Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>AI Internship Application Tracker</h1>
    <div class="dashboard">
    <div>Total: {{ total }}</div>
    <div>Applied: {{ applied }}</div>
    <div>Interviews: {{ interview }}</div>
    <div>Offers: {{ offer }}</div>
    <div>Rejected: {{ rejected }}</div>
    </div>

    <form method="POST">
        <input type="text" name="company" placeholder="Company Name" required>

        <input type="text" name="position" placeholder="Position" required>

        <input type="text" name="recruiter" placeholder="Recruiter">

        <input type="date" name="date_applied" required>

        <select name="status">
            <option>Applied</option>
            <option>Interview</option>
            <option>Rejected</option>
            <option>Offer</option>
        </select>

        <button type="submit">Add Application</button>
    </form>
    <form method="GET">
    <input type="text" name="search" placeholder="Search company">
    <button type="submit">Search</button>
    </form>

    <h2>Applications</h2>

    <table>
        <tr>
            <th>Company</th>
            <th>Position</th>
            <th>Recruiter</th>
            <th>Date Applied</th>
            <th>Status</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>

        {% for app in applications %}
        <tr>
            <td>{{ app[1] }}</td>
            <td>{{ app[2] }}</td>
            <td>{{ app[3] }}</td>
            <td>{{ app[5] }}</td>
            <td class="{{ app[4].lower() }}">
                {{ app[4] }}
            </td>
        
            <td>
                <a href="/delete/{{ app[0] }}">
                    <button>Delete</button>
                </a>
            </td>
            <td>
                <a href="/edit/{{ app[0] }}">
                    <button>Edit</button>
                </a>
            </td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>